<nav class="light-blue darken 4">
  <div class='conteiner'>
    <div class='nav-wrapper'>
      <a href='/' class='brand-logo'>🤖ProjNotes🤖</a>
      <ul id='nav-mobile' class='right hide-on-med-and-down'>
        <li><a href='/'>Inicio</a></li>
        <li><a href='/'>Acerca de ...</a></li>
      </ul>
      <!-- Visualizacion para navegacion en moviles -->
      <a href="#" data-target="nav-mobile" class="slide-out">
        <i class="material-icons">menu</i>
      </a>
      <ul id="slide-out" class="sidenav">
        <li><a href="/">Inicio</a></li>
        <li><a href="/about">Acerca De...</a></li>
      </ul>
    </div>
  </div>
</nav>
