<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- favicon-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='/vendor/materialize/css/materialize.min' />
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    {{{body}}}
    >!--script de materialize-->
<script src="/vendor/materialize/js/materialize.min"></script>
    <script src="/javascripts/bundle.js"></script>
</body>
</html>
