<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!-- favicon-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Iconos de Google -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icon">
    <!-- Cargando Materializecss -->
    <link rel='stylesheet' href='/vendor/materialize/css/materialize.min' />
    <!-- Cargando estilos de la app -->
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
    {{!-- Llamando a la vista parcial de la navbar --}}
    {{>_navbar}}
    <div class="conteiner">
    {{{body}}}
    </div>
    <!--script de materialize-->
<script src="/vendor/materialize/js/materialize.min"></script>
    <script src="/javascripts/bundle.js"></script>
</body>
</html>
